.document {
    display: flex;
    padding: 20px;
    height: 100%;
}

.document__search {
    width: 100%;
    height: 35px;
    display: flex;
    background: #F8F6FF;
    margin: 30px;
}

.search__input {
    background: #EFF0FF;
    border: 1px solid #D7D0F7;
    flex-grow: 1;
    color: #BDBDBD;
}

.search__button {
    border-left: none;
    border: 1px solid #D7D0F7;
    background: #EFF0FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.doclist {
    display: flex;
    flex-direction: column;
}

.doclist__item {
    display: flex;
    align-items: center;
    margin-left: 4.02%;
    margin-bottom: 20px;
}
.search__flag {
    fill:#FF0707;
    width: 35px;
    background: none;
    border: none;
}
// .item__important {
//     img {
//         fill:#FF0707;
//     }
// }

.item__date {
    font-family: 'Panton';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
    color: #352958;
    width: 75px;
}

.item__name {
    font-family: 'Panton';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #352958;
    margin-left: 2.65%;
    width: 400px;
}

.item__options {
    margin-left: 3.55%;
    display: flex;
    align-items: center;
}

.option__download {
    background: #EFF0FF;
    border: 1px solid #D7D0F7;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option__delete {
    margin-left: 15px;
    background: #EFF0FF;
    border: 1px solid #D7D0F7;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dragdrop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 2px dashed #E0DCFA;
    border-radius: 15px;
    margin-left: 220px;
}

.dragdrop__desc {
    font-family: 'Panton';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #352958;
}