.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
}

.header__logo{

    img{
        width: 100%;
    }
}

.header__burger-button{
    @include border;
    border-radius: 20px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-sizing: content-box;
    cursor: pointer;
    img{
        width: 100%;
        fill:#352958;
    }
}