.sidebar{
    display: flex;
    flex-direction: column;
    @include border;
    border-radius: 10px;
    margin-left:20px;
    overflow: hidden;
}

.sidebar__title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 5px;
    span{
        font-size: 24px;
    }
    button{
        background-color: #EFF0FF;
        border: none;
        margin-top: 5px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        img{
            width: 100%;
        }
    }
}

.sidebar__search{
    display: flex;
    flex-direction: row;
    @include border;
    input{
        padding-left: 15px;
        min-width: 0;
        flex-grow: 1;
        height: 30px;
        @include border;
        border-top:none;
        border-bottom: none;   
        border-left:none; 
    }
    button{
        background-color: #EFF0FF;
        border: none;
        width: 30px;
        height: 30px;
        cursor: pointer;
        img{
            width: 100%;
            margin-top:5px;
        }
    }
}

.sidebar__archieve {
    margin-top: auto;
}