.statistic{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.statistic__dashboard{
    flex-grow: 1;
    height: 100%;
}

.statistic__instruments{
    border-left: 1px solid #D7D0F7;
    background-color: #EFF0FF;
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    gap: 20px;
    button{
        width: 56px;
        height: 56px;
        border: none;
        cursor: pointer;
        overflow: hidden;
    }
}



