.project {
    width: 100%;
    height: 100%;
    display: flex;
}

.project__title {
    color: #352958;
    font-family: 'Panton';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    margin-left: 45px;
    margin-top: 34px;
}

.project__desc {
    width: 90%;
    height: 57.5%;
    margin-left: 45px;
    margin-top: 120px;
    font-family: 'Panton';
    display: flex;
}

.project__progress {
    background: #EFF0FF;
    border: 1px solid #D7D0F7;
    border-radius: 10px;
    width: 100%;
    height: 150px;
    margin-top: 35px;
    margin-bottom: 41px;
}

.project__text {
    width: 100%;
    height: 50.4%;
    display: flex;
    background: #EFF0FF;
    border: 1px solid #D7D0F7;
    border-radius: 20px;
    /* top | right | bottom | left */
    padding: 19px 16px 0 16px;
    font-family: 'Panton';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
}

.progress__title {
    font-family: 'Panton';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #352958;
    text-align: center;
}

.progress__line {
    width: 97.4%;
    height: 35px;
    margin: 0 auto 0 auto;
    margin-top: 50px;
}

.line__chart {
    width: 100%;
    height: 59.7%;
    position: relative;
    background: #77B6E7;
    border-radius: 15px;
    font-family: 'Panton';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #352958;
}

.line__chart::before {
    display: block;
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    border-radius: 15px;
    background: #97CC64;
}

.chart__start > * {
    display: block;
    margin: auto;
}

.chart__now > * {
    display: block;
    margin: auto;
}

.chart__end > * {
    display: block;
    margin: auto;
}

.chart__start {
    position: absolute;
    transform: translate(-50%);
    left: 0%;
    top: -35px;
}

.chart__now {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top: -35px;
}
.chart__end {
    position: absolute;
    transform: translate(-50%);
    left: 100%;
    top: -35px;
}

.desc__keys>* {
    color: #F23B67;
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }
}

.desc__values>* {
    color: #352958;
    margin-left: 23px;
    margin-bottom: 30px;
    text-align: right;

    &:last-child {
        margin-bottom: 0;
    }
}